<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_07_Ventanas_Moviles_Por_Categoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'A': [0, 1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]}
df = pd.DataFrame(data)

# Definir la columna en particular
columna = 'A'

# Función personalizada para contar los valores cero en la ventana móvil
def contar_ceros_ventana(serie):
    return (serie[1:] == 0).sum()

# Crear una nueva columna con el conteo de ceros en la ventana móvil
df['Cuenta_ceros_ventana'] = df[columna].rolling(7).apply(contar_ceros_ventana, raw=True)

# Ajustar la nueva columna para que muestre los valores correctos
df['Cuenta_ceros_ventana'] = df['Cuenta_ceros_ventana'].shift(-6)

# Imprimir el DataFrame resultante
df

    A  Cuenta_ceros_ventana
0   0                   4.0
1   1                   5.0
2   0                   4.0
3   0                   4.0
4   2                   5.0
5   0                   5.0
6   0                   5.0
7   0                   4.0
8   3                   NaN
9   0                   NaN
10  0                   NaN
11  0                   NaN
12  0                   NaN
13  4                   NaN

In [16]:
import pandas as pd
import numpy as np

# Crear un DataFrame de ejemplo con 10 ejemplos para cada categoría
np.random.seed(0)
categorias = ['A', 'B', 'C']
n_ejemplos = 10
data = {'A': np.random.randint(0, 5, n_ejemplos * len(categorias)),
        'B': np.repeat(categorias, n_ejemplos)}
df = pd.DataFrame(data)

# Ordenar las categorías en orden alfabético
df['B'] = pd.Categorical(df['B'], categories=sorted(categorias))

# Definir la columna en particular y la columna de categorías
columna = 'A'
columna_categorias = 'B'

# Función personalizada para contar los valores cero en la ventana móvil
def contar_ceros_ventana(serie):
    return (serie[1:] == 0).sum()

# Crear una nueva columna con el conteo de ceros en la ventana móvil por categoría
df['Cuenta_ceros_ventana'] = df.groupby(columna_categorias)[columna].rolling(7).apply(contar_ceros_ventana, raw=True).reset_index(level=0, drop=True)

# Ajustar la nueva columna para que muestre los valores correctos
df['Cuenta_ceros_ventana'] = df['Cuenta_ceros_ventana'].shift(-6)

# Imprimir el DataFrame resultante
df

    A  B  Cuenta_ceros_ventana
0   4  A                   1.0
1   0  A                   0.0
2   3  A                   0.0
3   3  A                   1.0
4   3  A                   NaN
5   1  A                   NaN
6   3  A                   NaN
7   2  A                   NaN
8   4  A                   NaN
9   0  A                   NaN
10  0  B                   1.0
11  4  B                   2.0
12  2  B                   2.0
13  1  B                   2.0
14  0  B                   NaN
15  1  B                   NaN
16  1  B                   NaN
17  0  B                   NaN
18  1  B                   NaN
19  4  B                   NaN
20  3  C                   3.0
21  0  C                   2.0
22  3  C                   2.0
23  0  C                   1.0
24  2  C                   NaN
25  3  C                   NaN
26  0  C                   NaN
27  1  C                   NaN
28  3  C                   NaN
29  3  C                   NaN