<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_02_Aggregations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas agreggations

# 01. gropupby uses

In [2]:
import pandas as pd

In [25]:
dict_input = { 'col_01': ['a','b','a','b'], 
               'col_02': ['gato','perro','gato','mico'],
               'col_03': [1,5,6,7]
             }

df = pd.DataFrame.from_dict(dict_input)
df

  col_01 col_02  col_03
0      a   gato       1
1      b  perro       5
2      a   gato       6
3      b   mico       7

In [34]:
df.groupby(['col_01', 'col_02'], as_index=True).\
           agg(min_col_3=('col_03', 'min'),
               count_col_3=('col_03', 'count'),
               conca=('col_02', lambda x: ','.join(x))).\
           sort_values(by=['min_col_3','col_01'], ascending=[False,True])

               min_col_3  count_col_3      conca
col_01 col_02
b      mico            7            1       mico
       perro           5            1      perro
a      gato            1            2  gato,gato

In [35]:
df.groupby(['col_01', 'col_02'], as_index=False).\
           agg(min_col_3=('col_03', 'min'),
               count_col_3=('col_03', 'count'),
               conca=('col_02', lambda x: ','.join(x))).\
           sort_values(by=['conca','col_01'], ascending=[False,True])

  col_01 col_02  min_col_3  count_col_3      conca
2      b  perro          5            1      perro
1      b   mico          7            1       mico
0      a   gato          1            2  gato,gato

# 02. pivot uses

In [ ]:
import pandas as pd

In [ ]:
dict_input = {"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]
             }

df = pd.DataFrame.from_dict(dict_input)
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [ ]:
df.pivot_table(index = ['A','C'], columns=['B'], values =['D','E'], aggfunc ='sum').reset_index()

     A      C    D         E
B              one  two  one   two
0  bar  large  4.0  7.0  6.0   9.0
1  bar  small  5.0  6.0  8.0   9.0
2  foo  large  4.0  NaN  9.0   NaN
3  foo  small  1.0  6.0  2.0  11.0

# Bibliography

- [Advanced agragations](https://brettromero.com/pandas-advanced-aggregation/)