<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_01_Create_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. Create Dataframe from: csv file in Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

import pandas as pd

In [ ]:
path_drive = '/content/drive/MyDrive/Colab Notebooks/00_Acamica/DS_Proyecto_01_Datos_Properati.csv'
df = pd.read_csv(path_drive, dtype=object)
df

# 02. Create Dataframe from: csv file in github

In [2]:
import pandas as pd

In [19]:
# Simple load
path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Kaggle_Titanic/train.csv'
df = pd.read_csv(path_github,  sep=',')

In [18]:
# Load with specific parameters
path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Kaggle_Titanic/train.csv'
df = pd.read_csv(path_github,  sep=',',  dtype=object, nrows=10, usecols=['Name','Sex','Age','Survived'])
df

  Survived                                               Name     Sex  Age
0        0                            Braund, Mr. Owen Harris    male   22
1        1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
2        1                             Heikkinen, Miss. Laina  female   26
3        1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
4        0                           Allen, Mr. William Henry    male   35
5        0                                   Moran, Mr. James    male  NaN
6        0                            McCarthy, Mr. Timothy J    male   54
7        0                     Palsson, Master. Gosta Leonard    male    2
8        1  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female   27
9        1                Nasser, Mrs. Nicholas (Adele Achem)  female   14

# 01. Create empty Dataframe

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

# 02. Create Dataframe from: lists

In [ ]:
import pandas as pd

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

df = pd.DataFrame(list(zip(a,b)), 
                  columns=['col_01','col_02'])
df

   col_01  col_02
0       1       6
1       2       7
2       3       8
3       4       9
4       5      10

# 03. Create Dataframe from: dictionary

In [ ]:
import pandas as pd

In [ ]:
dict_input = { 'col_01': [1,2,3,4], 
               'col_02': ['gato','perro','gato','perro'],
               'col_03': [1,5,6,7]
             }

df = pd.DataFrame.from_dict(dict_input)
df

   col_01 col_02  col_03
0       1   gato       1
1       2  perro       5
2       3   gato       6
3       4  perro       7

# 03. Create Dataframe from: series

In [ ]:
import pandas as pd

In [ ]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
  
auth_series = pd.Series(author)
article_series = pd.Series(article)
  
frame = {'Author': auth_series, 'Article': article_series}
  
df = pd.DataFrame(frame)
df

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178