<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/Reto_Agregaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [64]:
dict_sample = {'fecha': ['202101', '202101', '202101', '202102', 
                         '202102', '202102', '202102', '202103', 
                         '202103', '202104', '202104', '202104', '202104',
                         '202104', '202105', '202105', '202106', 
                         '202106'], 
               'valor': [5, 0, 61, 27, 26, 74, 81, 91, 29, 88, 77, 
                         43, 76, 2, 51, 83, 96, 69]}

In [71]:
df.to_csv('sample_medianas.csv', index=False)

In [66]:
df = pd.DataFrame(dict_sample)
df

     fecha  valor
0   202101      5
1   202101      0
2   202101     61
3   202102     27
4   202102     26
5   202102     74
6   202102     81
7   202103     91
8   202103     29
9   202104     88
10  202104     77
11  202104     43
12  202104     76
13  202104      2
14  202105     51
15  202105     83
16  202106     96
17  202106     69

In [72]:
df.groupby('fecha').rolling(3).median()

           valor
fecha
202101 0     NaN
       1     NaN
       2     5.0
202102 3     NaN
       4     NaN
       5    27.0
       6    74.0
202103 7     NaN
       8     NaN
202104 9     NaN
       10    NaN
       11   77.0
       12   76.0
       13   43.0
202105 14    NaN
       15    NaN
202106 16    NaN
       17    NaN

In [67]:
months = sorted(df.fecha.unique(), reverse=True)
months

['202106', '202105', '202104', '202103', '202102', '202101']

In [68]:
valores_medianas = []
cantidad_meses_hacia_atras = 3

for index,month in enumerate(months):
 
  mes_interes = month
  meses_previos = months[index+1:index+1+cantidad_meses_hacia_atras]
  
  asks_mediana_value = df.valor[(df.fecha.isin(meses_previos))].median()
  
  valores_medianas += [asks_mediana_value]

In [69]:
df_salida = pd.DataFrame(list(zip(months,valores_medianas)), 
                  columns=['fecha','mediana_ventana_3M_previos']).\
                  sort_values(by='fecha', ascending='True').\
                  reset_index(drop=True)
df_salida

    fecha  mediana_ventana_3M_previos
0  202101                         NaN
1  202102                         5.0
2  202103                        27.0
3  202104                        29.0
4  202105                        74.0
5  202106                        76.0