<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/SQL/DS_SQL_01_pandasql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.43)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26782 sha256=997c5d61a286ea81c5fcff870e4fe9fb58eeda4580c6163871648a45a8871ec2
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
import pandas as pd
from pandasql import sqldf

In [3]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [4]:
df.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [5]:
sqldf("""
SELECT * 
FROM df 
LIMIT 10
""")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,None,None,None,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None

In [8]:
dict_input = { 'shop_id': [1,2,3,4,5], 
               'product_id': [1,7,3,4,5],
               'Shop_name': ['Kellogs','Fantasy Store','Laxshmi store','General Store','Corn store'],
               'quantity': [15,25,35,45,55],
               'price': [10,20,30,40,50]    
             }

df = pd.DataFrame.from_dict(dict_input)
df

   shop_id  product_id      Shop_name  quantity  price
0        1           1        Kellogs        15     10
1        2           7  Fantasy Store        25     20
2        3           3  Laxshmi store        35     30
3        4           4  General Store        45     40
4        5           5     Corn store        55     50

In [15]:
sqldf("""
WITH gato AS (SELECT shop_id,
                     product_id
			        FROM df),
     perro AS (SELECT shop_id,
                      product_id,
                      shop_name,
                      quantity
				      FROM df),
     mico AS (SELECT shop_id AS pericles,
                      product_id,
                      shop_name,
                      quantity
				      FROM df)
    

SELECT shop_id, pericles, quantity
FROM gato gt LEFT JOIN mico pr ON gt.product_id=pr.product_id  
""")

   shop_id  pericles  quantity
0        1         1        15
1        2         2        25
2        3         3        35
3        4         4        45
4        5         5        55